#banner{
    background-image: url('/assets/backgrounds/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#menu div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
  #menu>ul>li{
      background-color: #F15A29;
      color: black;
      display: none;
  }
  #bannertabs{
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #dinner{
      background-image: url(/assets/foodtop/dinner.jpg);
  }
  #lunch{
      background-image: url(/assets/foodtop/lunch.jpg);
  }
  #breakfast{
      background-image: url(/assets/foodtop/breakfast.jpg);
  }