#banner{
    background-image: url('/assets/backgrounds/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding-top: 100px;
}
nav{
    margin: 20;
    margin-top: 0;
}

#menu div {
    width: 50px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    margin-left: 80px;
  }
  #menu div:first-child{

  }
  #menu>ul>li{
      background-color: #F15A29;
      color: black;
      display: none;
  }
  #icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 2em;

  }
  h3{
      font-weight: 100;
  }
  strong{
      font-weight: 900;
  }
  #bannertabs{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
  }
  #dinner{
      width:25%;
      background-image: url(/assets/foodtop/dinner.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
  #lunch{
      width: 25%;
      background-image: url(/assets/foodtop/lunch.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
  #breakfast{
    width: 25%;
      background-image: url(/assets/foodtop/breakfast.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
  #happytime{
      width: 25%;
  }
  #happyhour{
      height: 50%;
      background-color: rgba(209, 205, 202, 0.699);

  }
  #partytime{

      height: 50%;
      background-color: #F15A29;
      text-align: center
  }
  #partytime,#happyhour,#breakfast,#lunch,#dinner{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
  }
  #fastfood{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
  }
  